@media (color) {
  html {
    background: lavender;
    color: purple;
  }
}

@media (prefers-contrast: more) {
  html {
    color: black;
  }
}

@media (prefers-contrast: less), (prefers-color-scheme: dark) {
  html {
    background: plum;
  }
}

* {
  box-sizing: border-box;
}

html {
  line-height: 2;
  font-family: monospace, monospace;
  font-size: calc(1em + 1vw + 1vh);
}

body {
  margin: 0;
  padding: 1rem 2rem;
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}

li {
  margin: 0 0 1rem;
}

h1,
strong {
  font-size: 2rem;
  margin: 0 0 1rem;
}
